@model AnotherCity.Models.Member

@{
    ViewData["Title"] = "Edit Member";
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit"  enctype="multipart/form-data">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <div class="col-md-6">
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="FirstName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="LastName" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="PositionId" class="control-label col-md-2"></label>
                    <div class="col-md-10">
                        <select asp-for="PositionId" class="form-control" asp-items="ViewBag.PositionId"></select>
                        <span asp-validation-for="PositionId" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Phone" class="form-control" />
                        <span asp-validation-for="Phone" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            <input asp-for="TopMember" />
                            <label asp-for="TopMember"></label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Bio" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <textarea asp-for="Bio" class="form-control"></textarea>
                        <span asp-validation-for="Bio" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="PhotoImg" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <input type="file" asp-for="PhotoImg" class="form-control" />
                        <span asp-validation-for="PhotoImg" class="text-danger"></span>

                        <div id="currentImg" class="col-md-6 pull-left">
                            @if (!String.IsNullOrEmpty(Model.PhotoImg))
                            {
                                <img src="/uploads/profileimgs/@Model.PhotoImg" class="img-thumbnail" />
                                <div id="changeImg"><a href="#">Change image</a></div>
                            }
                        </div>

                    </div>
                </div>
                <div class="form-group">
                    <div id="socials">
                        @foreach (var social in Model.MemberSocials)
                        {
                            <div class="item">
                                <label class="control-label col-md-2">@social.Social.Title</label>
                                <div class="col-md-10">
                                    <p>@social.PersonalLink</p>
                                    <button class="btn btn-xs btn-danger social-delete" type="button" value="@social.Id">x
                                    </button>

                                </div>
                            </div>

                        }
                    </div>
                    <div id="socialAdd">
                        <div class="col-md-2">
                            <select id="social_input" class="form-control" asp-items="ViewBag.SocialId"></select>
                        </div>
                        <div class="col-md-10">
                            <input id="social_input_link" class="form-control" type="text" name="add" />
                            <div id="social_input_wrong" class="text-danger"></div>
                            <button id="social_add" type="button" class="btn btn-default">Add social</button>
                        </div>
                    </div>
                    <div id="addSocials"><a href="#">Add social links</a></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.3/jquery-confirm.min.js"></script>
    <script>
            
        window.onload = function () {
            //Upload image check start
            window.URL = window.URL || window.webkitURL;
            var elBrowse = document.getElementById("PhotoImg"),
                elPreview = document.getElementById("currentImg"),
                useBlob = false && window.URL; // Set to `true` to use Blob instead of Data-URL

            // 2.
            function readImage(file) {

                var error = false;
                // Create a new FileReader instance
                // https://developer.mozilla.org/en/docs/Web/API/FileReader
                var reader = new FileReader();

                // Once a file is successfully readed:
                reader.addEventListener("load", function () {

                    // At this point `reader.result` contains already the Base64 Data-URL
                    // and we've could immediately show an image using
                    // `elPreview.insertAdjacentHTML("beforeend", "<img src='"+ reader.result +"'>");`
                    // But we want to get that image's width and height px values!
                    // Since the File Object does not hold the size of an image
                    // we need to create a new image and assign it's src, so when
                    // the image is loaded we can calculate it's width and height:
                    var image = new Image();
                    image.className = "img-thumbnail";
                    image.addEventListener("load", function () {

                        // Concatenate our HTML image info 
                        var imageInfo = file.name + ' ' + // get the value of `name` from the `file` Obj
                            image.width + 'x' + // But get the width from our `image`
                            image.height + ' ' +
                            file.type + ' ' +
                            Math.round(file.size / 1024) + 'KB';
                        if (image.width != 500 || image.height != 700) {
                            // Notify the user for size errors (i.e: try uploading a .txt file)
                            $.alert({
                                title: "Error",
                                content: file.name + " Unsupported Image size (500x700 supported only)\n",
                            });
                            elBrowse.value=''; 
                            error = true;
                            return false;
                        }
                        // Finally append our created image and the HTML info string to our `#preview` 
                        elPreview.appendChild(this);
                        elPreview.insertAdjacentHTML("beforeend", imageInfo + '<br>');

                        // If we set the variable `useBlob` to true:
                        // (Data-URLs can end up being really large
                        // `src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAA...........etc`
                        // Blobs are usually faster and the image src will hold a shorter blob name
                        // src="blob:http%3A//example.com/2a303acf-c34c-4d0a-85d4-2136eef7d723"
                        if (useBlob) {
                            // Free some memory for optimal performance
                            window.URL.revokeObjectURL(image.src);
                        }
                    });

                    image.src = useBlob ? window.URL.createObjectURL(file) : reader.result;

                });

                // https://developer.mozilla.org/en-US/docs/Web/API/FileReader/readAsDataURL
                if(!error)reader.readAsDataURL(file);
            }

            // 1.
            // Once the user selects all the files to upload
            // that will trigger a `change` event on the `#browse` input
            elBrowse.addEventListener("change", function () {

                $("#currentImg").html('');
                $("#currentImg").show();
                // Let's store the FileList Array into a variable:
                // https://developer.mozilla.org/en-US/docs/Web/API/FileList
                var files = this.files;
                // Let's create an empty `errors` String to collect eventual errors into:
                var errors = "";

                if (!files) {
                    errors += "File upload not supported by your browser.";
                }

                // Check for `files` (FileList) support and if contains at least one file:
                if (files && files[0]) {

                    // Iterate over every File object in the FileList array
                    for (var i = 0; i < files.length; i++) {

                        // Let's refer to the current File as a `file` variable
                        // https://developer.mozilla.org/en-US/docs/Web/API/File
                        var file = files[i];

                        // Test the `file.name` for a valid image extension:
                        // (pipe `|` delimit more image extensions)
                        // The regex can also be expressed like: /\.(png|jpe?g|gif)$/i
                        if ((/\.(png|jpeg|jpg|gif)$/i).test(file.name)) {
                            // SUCCESS! It's an image!
                            // Send our image `file` to our `readImage` function!
                            readImage(file);
                        } else {
                            errors += file.name + " Unsupported Image extension\n";
                        }
                    }
                }
                // Notify the user for any errors (i.e: try uploading a .txt file)
                if (errors) {
                    $.alert({
                        title: 'Error!',
                        content: errors,
                    });
                }

            });
            //Upload image check end



            $("#PhotoImg").hide();
            $("#changeImg").on("click", function () {
                $("#currentImg").hide();
                $("#PhotoImg").show();
            });
            $("#socialAdd").hide();
            $("#addSocials").on("click", function () {
                $("#addSocials").hide();
                $("#socialAdd").show();

                $("#social_input").val("");
            });

            $('#social_add').on('click', function () {

                var $theAnchor = $(this);

                $.ajax({
                    type: "POST",
                    url: "/api/MemberSocials",
                    data: JSON.stringify({
                        'SocialId': document.getElementById("social_input").value,
                        'MemberId': '@Model.Id',
                        'PersonalLink': document.getElementById("social_input_link").value
                    }),
                    error: function (index) {
                        $("#social_input_wrong").html(index.responseText);
                        console.log(index);
                    },
                    success: function (index) {
                        $('#socials').append('<div class="item"><label class="control-label col-md-2">' + $("#social_input option[value='" + document.getElementById("social_input").value + "']").text() + '</label><div class="col-md-10"><p>' + document.getElementById("social_input_link").value + '</p><button class="btn btn-danger social-delete" type="button" value="'+index.id+'">DELETE</button></div></div>');
                        $("#addSocials").show();
                        $("#socialAdd").hide();
                        $("#social_input").val("");
                        $("#social_input_link").val("");
                        $('.social-delete').on('click', function () {

                            var $theAnchor = $(this);
                            $.ajax({
                                type: "DELETE",
                                url: "/api/MemberSocials/" + $theAnchor.val(),
                                success: function () { $theAnchor.closest("div.item").remove(); },
                                dataType: "json"
                            });
                        });
                    },
                    dataType: "json",
                    contentType: "application/json; charset=utf-8"
                });
            });

            $('.social-delete').on('click', function () {

                var $theAnchor = $(this);
                $.ajax({
                    type: "DELETE",
                    url: "/api/MemberSocials/" + $theAnchor.val(),
                    success: function () { $theAnchor.closest("div.item").remove(); },
                    dataType: "json"
                });
            });
        }


    </script>
}
