@model AnotherCity.Models.Project

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
}

<h2>Edit</h2>

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Project</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="MemberId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="MemberId" class="form-control" asp-items="ViewBag.MemberId"></select>
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="VolunteerOpp" />
                    <label asp-for="VolunteerOpp"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="InvestOpp" />
                    <label asp-for="InvestOpp"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartDate" class="col-md-2 control-label" ></label>
            <div class="col-md-10">
                <div class="input-group date" style="max-width: 280px;" id='datetimepicker1'>
                    <input asp-for="StartDate" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FinishDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="input-group date" style="max-width: 280px;" id='datetimepicker2'>
                    <input asp-for="FinishDate" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="FinishDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShortDesc" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="ShortDesc" class="form-control"></textarea>
                <span asp-validation-for="ShortDesc" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MainImg" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="file" asp-for="MainImg" class="form-control" />
                <span asp-validation-for="MainImg" class="text-danger"></span>
                <div id="currentImg" class="col-md-6 pull-left">
                    @if (!String.IsNullOrEmpty(Model.MainImg))
                    {
                        <img src="/uploads/@Model.MainImg" class="img-thumbnail" />
                        <div id="changeImg"><a href="#">Change image</a></div>
                    }
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Images</label>
            <div class="col-md-10">
                <input type="file" name="images" class="form-control" multiple />
                <span class="text-danger"></span>
                @if (Model.Images.Count>0)
                {
                    @foreach (var img in Model.Images)
                    {
                        <div class="col-md-2 pull-left">
                            <img src="/uploads/@img.Path" class="img-thumbnail" />
                            <button type="button" id="@img.Id" class="btn btn-danger btn-delete">Delete</button>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SocialLinks" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SocialLinks" class="form-control" />
                <span asp-validation-for="SocialLinks" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Location" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="LatLng" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="hidden" asp-for="LatLng" class="form-control" />
                <span asp-validation-for="LatLng" class="text-danger"></span>
                <div id="map"></div>
            </div>
        </div>
        <div class="form-group">
            <div id="socials">
                @foreach (var social in Model.ProjectSocials)
                {
                    <div class="item">
                        <label class="control-label col-md-2">@social.Social.Title</label>
                        <div class="col-md-10">
                            <p>@social.ProjectLink</p>
                            <button class="btn btn-danger social-delete" type="button" value="@social.Id">DELETE</button>

                        </div>
                    </div>

                }
            </div>
            <div id="socialAdd">
                <div class="col-md-2">
                    <select id="social_input" class="form-control" asp-items="ViewBag.SocialId"></select>
                </div>
                <div class="col-md-10">
                    <input id="social_input_followers" class="form-control" type="text" name="add-followers" placeholder="Followers"/>
                    <input id="social_input_link" class="form-control" type="text" name="add" placeholder="Link"/>
                    <div id="social_input_wrong" class="text-danger"></div>
                    <button id="social_add" type="button" class="btn btn-default">Add social</button>
                </div>


            </div>
            <div id="addSocials"><a href="#">Add social links</a></div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.3/jquery-confirm.min.js"></script>
    <script>
    //window.onload = function () {
        //Upload image check start
        window.URL = window.URL || window.webkitURL;
        var elBrowse = document.getElementById("MainImg"),
            elPreview = document.getElementById("currentImg"),
            useBlob = false && window.URL; // Set to `true` to use Blob instead of Data-URL
        
        // 2.
        function readImage(file) {
            
            var error = false;
            // Create a new FileReader instance
            // https://developer.mozilla.org/en/docs/Web/API/FileReader
            var reader = new FileReader();

            // Once a file is successfully readed:
            reader.addEventListener("load", function () {

                // At this point `reader.result` contains already the Base64 Data-URL
                // and we've could immediately show an image using
                // `elPreview.insertAdjacentHTML("beforeend", "<img src='"+ reader.result +"'>");`
                // But we want to get that image's width and height px values!
                // Since the File Object does not hold the size of an image
                // we need to create a new image and assign it's src, so when
                // the image is loaded we can calculate it's width and height:
                var image = new Image();
                image.className = "img-thumbnail";
                image.addEventListener("load", function () {

                    // Concatenate our HTML image info
                    var imageInfo = file.name + ' ' + // get the value of `name` from the `file` Obj
                        image.width + 'x' + // But get the width from our `image`
                        image.height + ' ' +
                        file.type + ' ' +
                        Math.round(file.size / 1024) + 'KB';
                    if (image.width != 1020 || image.height != 720) {
                        // Notify the user for size errors (i.e: try uploading a .txt file)
                        $.alert({
                            title: "Error",
                            content: file.name + " Unsupported Image size (1020x720 supported only)\n",
                        });
                        elBrowse.value = '';
                        error = true;
                        return false;
                    }
                    // Finally append our created image and the HTML info string to our `#preview`
                    elPreview.appendChild(this);
                    elPreview.insertAdjacentHTML("beforeend", imageInfo + '<br>');

                    // If we set the variable `useBlob` to true:
                    // (Data-URLs can end up being really large
                    // `src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAA...........etc`
                    // Blobs are usually faster and the image src will hold a shorter blob name
                    // src="blob:http%3A//example.com/2a303acf-c34c-4d0a-85d4-2136eef7d723"
                    if (useBlob) {
                        // Free some memory for optimal performance
                        window.URL.revokeObjectURL(image.src);
                    }
                });

                image.src = useBlob ? window.URL.createObjectURL(file) : reader.result;

            });

            // https://developer.mozilla.org/en-US/docs/Web/API/FileReader/readAsDataURL
            if (!error) reader.readAsDataURL(file);
        }

        // 1.
        // Once the user selects all the files to upload
        // that will trigger a `change` event on the `#browse` input
        elBrowse.addEventListener("change", function () {
            
            $("#currentImg").html('');
            $("#currentImg").show();
            // Let's store the FileList Array into a variable:
            // https://developer.mozilla.org/en-US/docs/Web/API/FileList
            var files = this.files;
            // Let's create an empty `errors` String to collect eventual errors into:
            var errors = "";

            if (!files) {
                errors += "File upload not supported by your browser.";
            }

            // Check for `files` (FileList) support and if contains at least one file:
            if (files && files[0]) {

                // Iterate over every File object in the FileList array
                for (var i = 0; i < files.length; i++) {

                    // Let's refer to the current File as a `file` variable
                    // https://developer.mozilla.org/en-US/docs/Web/API/File
                    var file = files[i];

                    // Test the `file.name` for a valid image extension:
                    // (pipe `|` delimit more image extensions)
                    // The regex can also be expressed like: /\.(png|jpe?g|gif)$/i
                    if ((/\.(png|jpeg|jpg|gif)$/i).test(file.name)) {
                        // SUCCESS! It's an image!
                        // Send our image `file` to our `readImage` function!
                        readImage(file);
                    } else {
                        errors += file.name + " Unsupported Image extension\n";
                    }
                }
            }
            // Notify the user for any errors (i.e: try uploading a .txt file)
            if (errors) {
                $.alert({
                    title: 'Error!',
                    content: errors,
                });
            }

        });
        //Upload image check end
        $("#MainImg").hide();
        $("#changeImg").on("click", function () {
            $("#currentImg").hide();
            $("#MainImg").show();
        });
   // };
    </script>

    <script>
        $("button.btn-delete").on('click', function () {

            var $theAnchor = $(this);

            $.ajax({
            type: "DELETE",
                url: "/api/Images/" + this.id,
                success: function () {$theAnchor.closest("div").remove(); },
                dataType: "json"
            });
        });
    </script>



    <script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
        $('#datetimepicker1').data("DateTimePicker").defaultDate();
        $('#datetimepicker2').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $('#datetimepicker2').data("DateTimePicker").defaultDate();
        $('#datetimepicker2').data("DateTimePicker").minDate($('#datetimepicker1').data("DateTimePicker").date());

        $("#datetimepicker1").on("dp.change", function (e) {
            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker2").on("dp.change", function (e) {
            $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
        });
    });
    </script>

    <script>
        var geocoder;
        var map;
        var marker;
        function initMap() {
            var uluru = { lat: -25.363, lng: 131.044 };

            geocoder = new google.maps.Geocoder();
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: uluru
            });
            marker = new google.maps.Marker({
                position: uluru,
                map: map,
                draggable: true,
                title: "Change location!"
            });
            @{
                if (Model.LatLng != null && Model.LatLng != "")
                {
                    <text>
                    marker.setPosition(new google.maps.LatLng(@Model.LatLng));
                    map.setCenter(new google.maps.LatLng(@Model.LatLng));
                    </text>
                }
            }
            google.maps.event.addListener(marker, 'dragend', function (evt) {
                document.getElementById("LatLng").value = evt.latLng.lat().toFixed(9) + "," + evt.latLng.lng().toFixed(9);
                });
        }
        function codeAddress() {
            var address = document.getElementById('Location').value;
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == 'OK') {
                    map.setCenter(results[0].geometry.location);
                    marker.setPosition(results[0].geometry.location);
                    document.getElementById("LatLng").value = results[0].geometry.location.lat() + "," + results[0].geometry.location.lng();
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
        $('#Location').blur(function () {
            codeAddress();
        });
        
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDhALS_Y8YRr2s6EoVxtx9Zd5azVJ9YzM&callback=initMap">
    </script>
<script>
        window.onload = function () {

            $('#Location').blur(function () {
                codeAddress();
            });
           /* $("#PhotoImg").hide();
            $("#changeImg").on("click", function () {
                $("#currentImg").hide();
                $("#PhotoImg").show();
            });*/
            $("#socialAdd").hide();
            $("#addSocials").on("click", function () {
                $("#addSocials").hide();
                $("#socialAdd").show();

                $("#social_input").val("");
            });

            $('#social_add').on('click', function () {

                var $theAnchor = $(this);

                $.ajax({
                    type: "POST",
                    url: "/api/ProjectSocials",
                    data: JSON.stringify({
                        'SocialId': document.getElementById("social_input").value,
                        'ProjectId': '@Model.Id',
                        'ProjectLink': document.getElementById("social_input_link").value,
                        'Followers': document.getElementById("social_input_followers").value
                    }),
                    error: function (index) {
                        $("#social_input_wrong").html(index.responseText);
                        console.log(index);
                    },
                    success: function (index) {
                        $('#socials').append('<div class="item"><label class="control-label col-md-2">' + $("#social_input option[value='" + document.getElementById("social_input").value + "']").text() + '</label><div class="col-md-10"><p>' + document.getElementById("social_input_link").value + '</p><button class="btn btn-danger social-delete" type="button" value="'+index.id+'">DELETE</button></div></div>');
                        $("#addSocials").show();
                        $("#socialAdd").hide();
                        $("#social_input").val("");
                        $("#social_input_link").val("");
                        $("#social_input_followers").val("");
                        $('.social-delete').on('click', function () {

                            var $theAnchor = $(this);
                            $.ajax({
                                type: "DELETE",
                                url: "/api/ProjectSocials/" + $theAnchor.val(),
                                success: function () { $theAnchor.closest("div.item").remove(); },
                                dataType: "json"
                            });
                        });
                    },
                    dataType: "json",
                    contentType: "application/json; charset=utf-8"
                });
            });

            $('.social-delete').on('click', function () {

                var $theAnchor = $(this);
                $.ajax({
                    type: "DELETE",
                    url: "/api/ProjectSocials/" + $theAnchor.val(),
                    success: function () { $theAnchor.closest("div.item").remove(); },
                    dataType: "json"
                });
            });
        }


</script>
}
