@model AnotherCity.Models.Project

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_BackendLayout.cshtml";
}

<h2>Edit</h2>

<form asp-action="Edit" enctype="multipart/form-data">
    <div class="form-horizontal">
        <h4>Project</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label asp-for="MemberId" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select asp-for="MemberId" class="form-control" asp-items="ViewBag.MemberId"></select>
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="VolunteerOpp" />
                    <label asp-for="VolunteerOpp"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    <input asp-for="InvestOpp" />
                    <label asp-for="InvestOpp"></label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="StartDate" class="col-md-2 control-label" ></label>
            <div class="col-md-10">
                <div class="input-group date" style="max-width: 280px;" id='datetimepicker1'>
                    <input asp-for="StartDate" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="FinishDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <div class="input-group date" style="max-width: 280px;" id='datetimepicker2'>
                    <input asp-for="FinishDate" class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
                <span asp-validation-for="FinishDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ShortDesc" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="ShortDesc" class="form-control"></textarea>
                <span asp-validation-for="ShortDesc" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="MainImg" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="file" asp-for="MainImg" class="form-control" />
                <span asp-validation-for="MainImg" class="text-danger"></span>
                @if (!String.IsNullOrEmpty(Model.MainImg))
                {
                    <div class="col-md-6 pull-left"><img src="/uploads/@Model.MainImg" class="img-thumbnail" /></div>
                }
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-2 control-label">Images</label>
            <div class="col-md-10">
                <input type="file" name="images" class="form-control" multiple />
                <span class="text-danger"></span>
                @if (Model.Images.Count>0)
                {
                    @foreach (var img in Model.Images)
                    {
                        <div class="col-md-2 pull-left">
                            <img src="/uploads/@img.Path" class="img-thumbnail" />
                            <button type="button" id="@img.Id" class="btn btn-danger btn-delete">Delete</button>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SocialLinks" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="SocialLinks" class="form-control" />
                <span asp-validation-for="SocialLinks" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Location" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
        </div>
        
        <div class="form-group">
            <label asp-for="LatLng" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="hidden" asp-for="LatLng" class="form-control" />
                <span asp-validation-for="LatLng" class="text-danger"></span>
                <div id="map"></div>
            </div>
        </div>
        <div class="form-group">
            <div id="socials">
                @foreach (var social in Model.ProjectSocials)
                {
                    <div class="item">
                        <label class="control-label col-md-2">@social.Social.Title</label>
                        <div class="col-md-10">
                            <p>@social.ProjectLink</p>
                            <button class="btn btn-danger social-delete" type="button" value="@social.Id">DELETE</button>

                        </div>
                    </div>

                }
            </div>
            <div id="socialAdd">
                <div class="col-md-2">
                    <select id="social_input" class="form-control" asp-items="ViewBag.SocialId"></select>
                </div>
                <div class="col-md-10">
                    <input id="social_input_followers" class="form-control" type="text" name="add-followers" placeholder="Followers"/>
                    <input id="social_input_link" class="form-control" type="text" name="add" placeholder="Link"/>
                    <div id="social_input_wrong" class="text-danger"></div>
                    <button id="social_add" type="button" class="btn btn-default">Add social</button>
                </div>


            </div>
            <div id="addSocials"><a href="#">Add social links</a></div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $("button.btn-delete").on('click', function () {
        
            var $theAnchor = $(this);

            $.ajax({
                type: "DELETE",
                url: "/api/Images/" + this.id,
                success: function () {$theAnchor.closest("div").remove(); },
                dataType: "json"
            });
        });
    </script>

    <script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker();
        $('#datetimepicker1').data("DateTimePicker").defaultDate();
        $('#datetimepicker2').datetimepicker({
            useCurrent: false //Important! See issue #1075
        });
        $('#datetimepicker2').data("DateTimePicker").defaultDate();
        $('#datetimepicker2').data("DateTimePicker").minDate($('#datetimepicker1').data("DateTimePicker").date());

        $("#datetimepicker1").on("dp.change", function (e) {
            $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
        });
        $("#datetimepicker2").on("dp.change", function (e) {
            $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
        });
    });
    </script>

    <script>
        var geocoder;
        var map;
        var marker;
        function initMap() {
            var uluru = { lat: -25.363, lng: 131.044 };

            geocoder = new google.maps.Geocoder();
            map = new google.maps.Map(document.getElementById('map'), {
                zoom: 12,
                center: uluru
            });
            marker = new google.maps.Marker({
                position: uluru,
                map: map,
                draggable: true,
                title: "Change location!"
            });
            @{
                if (Model.LatLng != null && Model.LatLng != "")
                {
                    <text>
                    marker.setPosition(new google.maps.LatLng(@Model.LatLng));
                    map.setCenter(new google.maps.LatLng(@Model.LatLng));
                    </text>
                }
            }
            google.maps.event.addListener(marker, 'dragend', function (evt) {
                document.getElementById("LatLng").value = evt.latLng.lat().toFixed(9) + "," + evt.latLng.lng().toFixed(9);
                });
        }
        function codeAddress() {
            var address = document.getElementById('Location').value;
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == 'OK') {
                    map.setCenter(results[0].geometry.location);
                    marker.setPosition(results[0].geometry.location);
                    document.getElementById("LatLng").value = results[0].geometry.location.lat() + "," + results[0].geometry.location.lng();
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }
        
    </script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDhALS_Y8YRr2s6EoVxtx9Zd5azVJ9YzM&callback=initMap">
    </script>
<script>
        window.onload = function () {

            $('#Location').blur(function () {
                codeAddress();
            });
           /* $("#PhotoImg").hide();
            $("#changeImg").on("click", function () {
                $("#currentImg").hide();
                $("#PhotoImg").show();
            });*/
            $("#socialAdd").hide();
            $("#addSocials").on("click", function () {
                $("#addSocials").hide();
                $("#socialAdd").show();

                $("#social_input").val("");
            });

            $('#social_add').on('click', function () {

                var $theAnchor = $(this);

                $.ajax({
                    type: "POST",
                    url: "/api/ProjectSocials",
                    data: JSON.stringify({
                        'SocialId': document.getElementById("social_input").value,
                        'ProjectId': '@Model.Id',
                        'ProjectLink': document.getElementById("social_input_link").value,
                        'Followers': document.getElementById("social_input_followers").value
                    }),
                    error: function (index) {
                        $("#social_input_wrong").html(index.responseText);
                        console.log(index);
                    },
                    success: function (index) {
                        $('#socials').append('<div class="item"><label class="control-label col-md-2">' + $("#social_input option[value='" + document.getElementById("social_input").value + "']").text() + '</label><div class="col-md-10"><p>' + document.getElementById("social_input_link").value + '</p><button class="btn btn-danger social-delete" type="button" value="'+index.id+'">DELETE</button></div></div>');
                        $("#addSocials").show();
                        $("#socialAdd").hide();
                        $("#social_input").val("");
                        $("#social_input_link").val("");
                        $("#social_input_followers").val("");
                        $('.social-delete').on('click', function () {

                            var $theAnchor = $(this);
                            $.ajax({
                                type: "DELETE",
                                url: "/api/ProjectSocials/" + $theAnchor.val(),
                                success: function () { $theAnchor.closest("div.item").remove(); },
                                dataType: "json"
                            });
                        });
                    },
                    dataType: "json",
                    contentType: "application/json; charset=utf-8"
                });
            });

            $('.social-delete').on('click', function () {

                var $theAnchor = $(this);
                $.ajax({
                    type: "DELETE",
                    url: "/api/ProjectSocials/" + $theAnchor.val(),
                    success: function () { $theAnchor.closest("div.item").remove(); },
                    dataType: "json"
                });
            });
        }


</script>
}
