@model AnotherCity.Models.Project
@inject AnotherCity.Services.FormattingService Format

@{
ViewData["Title"] = "ViewProject";
Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="bg-gray no-padding below-header">
    <div class="container">
        <div class="row margin-two">
            <div class="col-md-9 col-sm-9 padding-four  dividers-header double-line  text-center">
                <div class="subheader bg-white">
                    <h1>@Model.Title</h1>
                    <h2>Information</h2>
                </div>
            </div>
            <div class="col-md-3 col-sm-3 no-padding wow fadeInUp text-right">
                <h6 class="black-text no-margin-top no-letter-spacing"><strong>122</strong> followers<i class="fa fa-vk fa-2x" aria-hidden="true"></i></h6>
                <h6 class="black-text no-margin-top margin-one no-letter-spacing"><strong>122</strong> followers<i class="fa fa-facebook fa-2x" aria-hidden="true"></i></h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <h2 class="margin-bottom text-center">Details</h2>
                <h6 class="black-text no-margin-top no-letter-spacing"><strong>Organizator: </strong>@Model.Member.FirstName @Model.Member.LastName </h6>
                <h6 class="black-text no-margin-top no-letter-spacing"><strong>Date: </strong>@Format.AsReadableDate(Model.StartDate) </h6>
                <div class="thin-separator-line bg-mid-gray margin-five no-margin-lr"></div>
                <h6 class="black-text no-margin-top no-letter-spacing"><strong>Start time: </strong>@Format.AsReadableTime(Model.StartDate) </h6>
                <h6 class="black-text no-margin-top no-letter-spacing"><strong>End time: </strong>@Format.AsReadableTime(Model.FinishDate) </h6>
                <div class="thin-separator-line bg-mid-gray margin-five no-margin-lr"></div>
                <h6 class="black-text no-margin-top no-letter-spacing"><strong>Location: </strong>@Model.Location </h6>
                <div class="thin-separator-line bg-mid-gray margin-five no-margin-lr"></div>
                @if (Model.VolunteerOpp)
                {
                    <div class="hidden-lg hidden-md"><a asp-controller="Volunteers" asp-action="Create" asp-route-id="@Model.Id" class="btn btn-black btn-medium">Become a volunteer</a></div>
                    <div id="become_a_volunteer" class="btn btn-black btn-medium hidden-sm hidden-xs">Become a volunteer</div>
                }
            </div>

            <div class="col-md-9">
                <!-- tab -->
                <div class="tab-style3">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            <!-- tab navigation -->
                            <ul class="nav nav-tabs nav-tabs-light text-left">
                                <li class="active"><a href="#tab3_sec1" data-toggle="tab"><i class="fa fa-home"></i></a></li>
                                <li><a href="#tab3_sec2" data-toggle="tab">Gallery</a></li>
                                <li><a href="#tab3_sec3" data-toggle="tab">Location</a></li>
                                <li><a href="#tab3_sec4" data-toggle="tab">Comments(*)</a></li>
                            </ul>
                            <!-- end tab navigation -->
                        </div>
                    </div>
                    <!-- tab content section -->
                    <div class="tab-content">
                        <!-- tab content -->
                        <div class="tab-pane med-text fade in active" id="tab3_sec1">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <p class="no-margin-bottom">@Model.Description</p>
                                 </div>
                            </div>
                        </div>
                        <!-- end tab content -->
                        <!-- tab content -->
                        <div class="tab-pane fade in" id="tab3_sec2">
                            <div class="row zoom-gallery">
                                @foreach (var img in Model.Images)
                                {

                                    <div class="col-md-4 col-sm-6">
                                        <!-- photo item -->
                                        <a href="~/uploads/@img.Path"><img src="~/uploads/@img.Path" alt="" class="project-img-gallery"></a>
                                        <!-- end photo item -->
                                    </div>

                                }
                            </div>
                        </div>
                        <!-- end tab content -->
                        <!-- tab content -->
                        <div class="tab-pane fade in" id="tab3_sec3">
                            <div class="row">
                                <div id="map" class="col-md-12 col-sm-12">
                                </div>
                            </div>
                        </div>
                        <!-- end tab content -->
                        <!-- tab content -->
                        <div class="tab-pane fade in" id="tab3_sec4">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <p class="no-margin-bottom">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the standard dummy text.</p>
                                </div>
                            </div>
                        </div>
                        <!-- end tab content -->
                    </div>
                    <!-- end tab content section -->
                </div>
                <!-- end tab -->        
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.2.3/jquery-confirm.min.js"></script>
    <script>
        function objectifyForm(formArray) {//serialize data function

            var returnArray = {};
            for (var i = 0; i < formArray.length; i++) {
                returnArray[formArray[i]['name']] = formArray[i]['value'];
            }
            return returnArray;
        }
        $("#become_a_volunteer").on('click', function () { 
            var url = "/api/Volunteers/GetVolunteerForm/" +@Model.Id;
            $.confirm({
                title: 'Become a volunteer!',
                /*confirmButton: 'Apply!',
                cancelButton: 'Later',
                confirmButtonClass: 'btn-black',
                cancelButtonClass: 'btn-black',*/
                columnClass: 'col-md-6 col-md-offset-3',
                content: 'url:' + url,
                buttons: {
                    formSubmit: {
                        text: 'Apply!',
                        btnClass: 'btn-black',
                        action: function () {
                            var self = this;
                            if ($('#volunteer_form').valid()) {
                                $.ajax({
                                    'type': 'POST',
                                    'url': "/api/Volunteers/PostVolunteerForm",
                                    'timeout': 5000,
                                    'contentType': 'application/json',
                                    'data': JSON.stringify(objectifyForm($('#volunteer_form').serializeArray())),
                                    'dataType': 'json'
                                }).done(function (response) {
                                    if (response != "OK") {
                                        self.setContent(response);
                                        $.alert({
                                            title: 'Not valid information!',
                                            content: 'The information you entered is not valid! Please provide an accurate data. ',
                                        });
                                    }
                                    else {
                                        $.alert({
                                            title: 'Well done!',
                                            content: 'You request is saved!',
                                        });
                                        self.close();
                                    }
                                }).fail(function () {
                                    $.alert({
                                        title: 'Oppps...Our fail!',
                                        content: 'Something went wrong on our server or your internet connection.',
                                    });
                                });
                            }
                            return false;
                        }
                    },
                    cancel:{
                        text: 'Later',
                        btnClass: 'btn-grey',
                        action: function () {
                            $.alert({
                                title: ':(',
                                content: 'Don`t miss a chance to work together!!',
                            });
                            return true;
                        }
                    },
                },
                /*confirm: function () {
                   
                }*/
            });
        });
    </script>
    <script>
        var geocoder;
        var map;
        var marker
        function initMap() {
            @{
                if (Model.LatLng != null && Model.LatLng != "")
                {
                    <text>
                        var uluru = new google.maps.LatLng(@Model.LatLng);

                        map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 15,
                            center: uluru
                        });
                        marker = new google.maps.Marker({
                            position: uluru,
                            map: map
                        });
                    </text>
                }
            }

        }
        window.onload = function () {
            $('a[href="#tab3_sec3"]').on('shown.bs.tab', function (e) {
                initMap();
            });

        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBDhALS_Y8YRr2s6EoVxtx9Zd5azVJ9YzM&callback=initMap">
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}